.card{
    width: 18rem;
    height: 200px;
    margin: 20px;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-num{
    width: 200px;
}
.d-flex{
    flex-wrap: wrap;
}
.anim-card{
    color:darkred;
    border:2px dotted darkred;
    animation: wave 2s ease 0s infinite alternate;
    
}
@keyframes wave{
    50%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(-10deg);
    }
}
.active{
    background-color:lightslategrey;
    color:whitesmoke;
}